[title]{
    color: red;
}
[title="About me"]{
    color: orange;
}
[title~="Container"]{
    color: green;
}
[title*="tainer"]{
    background-color: lime;
}
[title^="More"]{
    color: violet;
}
[title$="skills"]{
    background-color: rgb(136, 251, 255);
}
