#background-img{
    background-image: url("../img/truskawka.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 30% 40%;
    background-size: contain;
}